.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.submit {
    font-weight: bold;
    background-color: #ab273c;
    color: white;
    height: 70px;
    border-radius: 5px;
}

#formular {
    margin: 15px;
    background-color: #f8f8f8;
    border-radius: 4px;
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
}

.fieldgroup {
    padding: 5px;
}

.navbar-brand {
    font-family: 'Montez', cursive;
    font-size: 50px;
}

img#miniature {
    height: 330px;
}